/* Imports */
body, html {
  font-size: 16px;
}

.col-np {
  padding-left: 0;
  padding-right: 0;
}

.no-bullets li {
  list-style: none;
}

header {
  background-color: #A85883;
}
header .upper-header {
  height: 90px;
  display: flex;
  align-items: center;
}
header .upper-header .upper-header-content {
  display: flex;
}
header .upper-header button {
  padding: 0px;
  background: none;
  border: none;
}
header .upper-header button svg {
  width: 48px;
  height: 48px;
}
header .upper-header .logo {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
header .upper-header .logo svg {
  width: 220px;
  height: auto;
}
header hr {
  padding: 0;
  margin: 0;
}
header.bg2 {
  background-color: #CE4334;
}
header.bg3 {
  background-color: #50a10d;
}
header .bottom-header {
  height: 270px;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
}
header .bottom-header .custom-breadcrumb {
  padding: 0;
}
header .bottom-header .custom-breadcrumb li {
  list-style: none;
  font-size: 0.7rem;
  display: inline;
  margin-right: 10px;
  text-transform: uppercase;
}
header .bottom-header .custom-breadcrumb li a {
  color: #fff;
}
header .bottom-header .custom-breadcrumb li a:after {
  content: "/";
  margin-left: 8px;
}
header .bottom-header h2 {
  font-size: 3rem;
  font-weight: 300;
}
header .bottom-header p {
  font-size: 1rem;
  margin-top: 22px;
  line-height: 28px;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
}
footer .footer-content hr {
  width: 100%;
  border-color: #8E8E8E;
  margin-top: 70px;
  margin-bottom: 32px;
}
footer .footer-content .logo-footer svg {
  width: 220px;
  height: auto;
}
footer .footer-content .nav-footer {
  margin-top: 48px;
}
footer .footer-content .nav-footer ul {
  margin: 0;
}
footer .footer-content .nav-footer ul li {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  display: inline;
  margin-right: 1rem;
}
footer .footer-content .nav-footer ul li a {
  color: #929292;
  text-decoration: none;
}
footer .footer-content .nav-footer ul li a:hover {
  color: #555;
}
footer .footer-content .social-media li {
  display: inline;
  margin: 0 1.5rem;
}
footer .footer-content .social-media li svg {
  width: 2rem;
}
footer .footer-content .social-media li a {
  color: #929292;
  text-decoration: none;
}
footer .footer-content .social-media li a:hover {
  color: #555;
}

.cidade {
  margin: 100px 0;
  font-family: "Lato", sans-serif;
  color: #707070;
}
.cidade h4 {
  font-weight: 700;
  font-size: 1.3rem;
}
.cidade .endereco {
  margin-top: 28px;
}
.cidade .endereco ul {
  line-height: 40px;
}
.cidade .endereco ul li {
  font-size: 16px;
}
.cidade .endereco ul li a {
  padding: 40px;
  color: inherit;
}
.cidade .endereco ul li:nth-child(1) {
  font-weight: 700;
}
.cidade .endereco ul li:nth-child(4) {
  background-image: url(../images/icon-map-marker.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  margin-top: 28px;
}

/*# sourceMappingURL=style.css.map */
